﻿

#s4-ribbonrow, #titleAreaBox, #sideNavBox, #DeltaPageStatusBar {
    display: none;
}

#s4-titlerow {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#contentBox {
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
    min-width: 0;
}

#s4-bodyContainer{
    height: 100%;
    padding-bottom: 0 !important;
}

#contentRow{
    padding-top: 0 !important;
    height: 100% !important;
}

#DeltaPlaceHolderMain{
    height: 100%;
}

@font-face {
    font-family: FabricMDL2Icons;
    src: url(https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons-2.30.woff2) format("woff2"),url(https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons-2.30.woff) format("woff"),url(https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons-2.30.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.ms-Icon--Running:before {
    content: "\EADA"
}

.ms-Icon--Filter::before {
    content: "\E71C";
}

.ms-Icon--ChevronDown::before {
    content: "\E70D";
}

.ms-Icon--Cancel::before {
    content: "\E711";
}

.ms-Icon--Search::before {
    content: "\E721";
}

.ms-Icon--Refresh::before {
    content: "\E72C";
}

.ms-Icon--ExcelLogo::before {
    content: "\F1E5";
}

.ms-Icon--Add::before {
    content: "\E710";
}

.ms-Icon--More::before {
    content: "\E712";
}

.ms-Icon--WordLogo::before {
    content: "\F1E3";
}

.ms-Icon--Save::before {
    content: "\E74E";
}

.ms-Icon--OpenFolderHorizontal:before{
    content: "\ED25";
}

.ms-Icon--ChromeClose::before {
    content: "\E8BB";
}

.ms-Icon--Event::before {
    content: "\ECA3";
}

.ms-Icon--Delete::before {
    content: "\E74D";
}

.ms-Icon--Upload::before {
    content: "\E898";
}

.ms-Icon--SortDown::before {
    content: "\EE69";
}

.ms-Icon--SortUp::before {
    content: "\EE68";
}

.ms-Icon--ReturnToSession::before {
    content: "\ED24";
}

.ms-Icon--Download::before {
    content: "\E896";
}

span.ms-CommandBarItem-icon {
    vertical-align: top;
    padding: 0 4px;
    font-size: 16px;
    line-height: 39px;
}

button.ms-CommandBarItem-icon {
    vertical-align: top;
    padding: 0 4px;
    font-size: 16px;
    line-height: 0;
}

.ms-Icon--ChevronLeft::before {
    content: "\E76B";
}

.ms-Icon--ChevronRight::before {
    content: "\E76C";
}

.ms-Icon.ms-Icon--Running,
.ms-Icon.ms-Icon--ChevronLeft,
.ms-Icon.ms-Icon--ChevronRight,
.ms-Icon.ms-Icon--ReturnToSession,
.ms-Icon.ms-Icon--SortDown,
.ms-Icon.ms-Icon--SortUp,
.ms-Icon.ms-Icon--Upload,
.ms-Icon.ms-Icon--Delete,
.ms-Icon.ms-Icon--Event,
.ms-Icon.ms-Icon--ChromeClose,
.ms-Icon.ms-Icon--Save,
.ms-Icon.ms-Icon--Filter,
.ms-Icon.ms-Icon--ChevronDown,
.ms-Icon.ms-Icon--Cancel,
.ms-Icon.ms-Icon--Search,
.ms-Icon.ms-Icon--Refresh,
.ms-Icon.ms-Icon--Add,
.ms-Icon.ms-Icon--OpenFolderHorizontal,
.ms-Icon.ms-Icon--More,
.ms-Icon.ms-Icon--Download,
.ms-Icon.ms-Icon--WordLogo,
.ms-Icon.ms-Icon--ExcelLogo {
    display: inline-block;
    font-family: FabricMDL2Icons;
    font-style: normal;
    font-weight: 400;
    speak: none;
}

.ms-ChoiceField-input[type="checkbox"]:checked + .ms-ChoiceField-field::before {
    font-family: FabricMDL2Icons !important;
    content: "\E73E" !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 667px) {
    .search-leftNav {
        display: none;
    }

    .nav-menu-button {
        display: inline-block !important;
    }
}

.ms-ListItem.is-selectable:hover:before,
.ms-ListItem.is-selected:before,
.ms-ListItem.is-selected:hover:before {
    font-family: FabricMDL2Icons !important;
}

.ms-ListItem.is-selectable:hover:before {
    /*content: '\E739' !important;*/
}

.ms-ListItem.is-selectable.is-selected:before,
.ms-ListItem.is-selectable.is-selected:hover:before {
        content: '\e73A' !important;
    }

.ms-ListItem.is-selectable:hover {
    background-color: inherit !important;
    outline: inherit !important;
}

.ms-ListItem.is-selected:hover {
    background-color: inherit !important;
    outline: inherit !important;
}

.ms-ListItem.is-selectable  .result-item-container:hover {
    background-color: #eaeaea;
    outline: 1px solid transparent;
}

.ms-ListItem.is-selected .result-item-container:hover {
    background-color: #c7e0f4;
    outline: 1px solid transparent;
}
